<article class="article">
  <div class="article__header">
    <img
      src="img/cover.png"
      alt="Как принимать решения, когда ничего не понятно"
    />
    <div class="darker-overlay"></div>
    <h1 class="article__header-title title">
      Как принимать решения, когда ничего не понятно
    </h1>
  </div>
  <section class="article__content">
    <h2 class="title title_fz32">
      Что такое риск и неопределённость в принятии решений
    </h2>
    <p class="article__content-p">
      Неопределённость — это ситуация, когда информации для принятия решения
      либо очень мало, либо она очень быстро меняется. Получается подвешенное
      состояние: решение принять сложно, потому что непонятно, что из этого
      выйдет.
    </p>
    <p class="article__content-p">
      Американский учёный Нассим Талеб, исследователь темы неопределённости,
      утверждает, что способность человека прогнозировать сильно преувеличена.
      Прогнозы — это когнитивные искажения, основанные на прошлом опыте, которые
      просто помогают мозгу успокоиться. Талеб приводит в пример индейку:
      несколько лет о ней заботятся и кормят. Она думает, что так будет и
      дальше, но в День благодарения птицу отправляют на праздничный стол.
    </p>
    <p class="article__content-p">
      В ситуации, связанной с риском, исход событий тоже неизвестен. Но в
      отличие от неопределённости, риски можно рассчитать. Например, в лотерее
      или покере можно определить вероятность выигрыша или проигрыша в
      зависимости от шансов.
    </p>
  </section>
  <section class="article__content">
    <h2 class="title title_fz32">Причины неопределённости</h2>
    <p class="article__content-p">
      Недостаток информации, чтобы взвесить все «за» и «против». Например, при
      релокации непонятно, чего ждать от жизни в другой стране.
    </p>
    <p class="article__content-p">
      Случайности. Например, если в компании увольняется кто-то из руководства и
      команда находится в состоянии неопределённости: кого теперь повысят.
    </p>
    <p class="article__content-p">
      «Чёрные лебеди». Этот термин появился благодаря Н. Талебу. «Чёрный лебедь»
      — это масштабное событие вроде пандемии, которое приносит большую
      неопределённость и соответствует трём критериям: оно неожиданно для
      большинства людей, оказывает масштабный эффект и постфактум кажется
      закономерным. «Чёрные лебеди» не всегда приносят потери: если во время
      локдауна ресторанный бизнес понёс огромные убытки, то сфера
      онлайн-образования и сервисы для удалённой работы, наоборот, получили
      прибыль.
    </p>
  </section>
</article>
