{% extends "blog/base.html" %} {% block title %}{{ post.title }}{% endblock %}
<section class="random">
  <img
    src="img/cover.png"
    alt="Как принимать решения, когда ничего не понятно"
    class="random__img"
  />
  <div class="random__content">
    <h2 class="title title_black">{{ post.title }}</h2>
    <div class="random__text">{{post.text|truncatewords:418|linebreaks}}</div>
    <div class="random__btns">
      <button class="button">Читать статью</button>
      <button class="button">Другая статья</button>
    </div>
  </div>
</section>
